import(lattice)
import(cluster)
importFrom("graphics", "plot")
importFrom('plyr', ddply, llply, ldply, dlply)
importFrom('reshape', melt, cast)
importFrom('stringr', str_c, str_split, str_trim)
importFrom('sp', 'coordinates', 'coordinates<-', 'proj4string', 'proj4string<-')
importFrom('Hmisc', wtd.mean, wtd.var, wtd.quantile, wtd.rank, wtd.table)

exportClasses(SoilProfileCollection)
exportMethods('depths<-', 'depth_units<-', 'metadata<-', 'site<-')

exportPattern("^[^\\.]")
