import(lattice)
import(cluster)
importFrom('plyr', ddply, llply, ldply, dlply)
importFrom('reshape', melt, cast)
importFrom('sp', coordinates, proj4string)
importFrom('Hmisc', wtd.mean, wtd.var, wtd.quantile, wtd.rank, wtd.table)

exportClasses(SoilProfileCollection)

exportMethods('depths<-', 'units<-', 'metadata<-', 'site<-')

exportPattern("^[^\\.]")